.section-1 {
    padding: 120px;
    position: relative;

    &:before {
        content: "";
        background-image: url("../img/section1-bg.jpeg");
        background-size: cover;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        opacity: 0.4;
    }
}

.section-1-header {
    text-align: center;

    &__title {
        font-weight: 900;
        font-size: 50px;
    }

    &__text {

    }
}
